:root {
  --primaryfont: "Roboto", sans-serif;
  --primarycolor: #2e2f42;
  --whitecolor: #ffffff;
  --secondarycolor: #4d5ae5;
  --text: #434455;
  --link-active: #404bbf;
  --light: #f4f4fd;
  --cornflower: #e7e9fc;
  --dairy: #fcfcfc
  --button-shadow: rgba(0, 0, 0, 0.15);
  --portfolio-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  --success: #31d0aa;
  --light-slate: #8e8f99;
  --standard-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  overflow: auto;
  box-sizing: border-box;
  max-width: 1440px;
  margin: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
body {
  font-family: var(--primaryfont);
  color: #434455;
  background-color: var(--whitecolor);
}
ul,
ol,
a {
  list-style-type: none;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-bottom: 1px solid #e7e9fc;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container-page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.nav .web-logo {
  color: var(--iris, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.studio-logo {
  color: var(--navyblue, #2e2f42);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.nav .list .link {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  list-style: none;
  text-transform: none;
  font-weight: 500;
  text-decoration: none;
}
.nav .list .link:hover,
.nav .list .link:focus,
.nav .list .link:active {
  color: #404bbf;
}
.adress {
  font-style: normal;
}
.adress .link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: inherit;
}
.adress .list .link:hover,
.adress .list .link:focus,
.adress .list .link:active {
  color: var(--link-active);
}
.link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  border-bottom: #404bbf;
  border-width: 48px;
}
.link:hover {
display: block;
width: 48px;
gap: 20px;
height: 4px;
color: var(--link-active); 
border-color: var(--link-active);
}
.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--link-active);
  border-radius: 2px;
}
.front-page {
  background-color: var(--primarycolor);
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(https://Paolo-Saestre.github.io/goit-markup-hw-04/images/people-office.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 188px;
  max-width: 1400px;
  height: 600px;
  margin: 0 auto;
}
.header-main {
  color: var(--whitecolor);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
.order-button {
  background-color: var(--secondarycolor);
  color: var(--whitecolor);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  display: inline-flex;
  padding: 16px 32px;
  gap: 10px;
  border: 4px;
  align-items: flex-start;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin: auto;
  margin-bottom: 156px;
  white-space: nowrap;
  transition: background-color var(--standard-animation);
}
.order-button:hover,
.order-button:focus {
  background-color: #404bbf;
}

.feature-icon {
  box-sizing: content-box;
  background-color: var(--cloud, #f4f4fd);
  width: 100%;
  border-radius: 4px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.card-title {
  color: var(--primarycolor);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.card-description {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-social-icons {
  display: flex;
  gap: 24px;
  margin-top: 8px;
  justify-content: center;
}

.social-icon {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: #4d5ae5;
  fill: white;
  transition: background-color var(--standard-animation);
}

.social-icon:hover {
  background-color: var(--link-active);
}

.header-2 {
  color: var(--primarycolor);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.middle-section-images {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding-bottom: 120px;
}
.background-team {
  background-color: #f4f4fd;
}
.name {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.description {
  color: var(--slate, #434455);
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.list-image {
  background-color: #ffffff;
}
.footer-background {
  background-color: var(--primarycolor);
}
.web-logo-footer {
  color: var(--iris, #4d5ae5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.studio-logo-footer {
  color: var(--cloud, #f4f4fd);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.footer-text {
  color: var(--cloud, #f4f4fd);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.footer-socials-title {
  color: white;
  font-weight: 500;
}
.button-list {
  background-color: #f4f4fd;
  color: var(--secondarycolor);
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}
.button-list:hover,
.button-list:focus,
.button-list:active {
  background-color: #404bbf;
  color: var(--whitecolor);
}
.link {
  text-decoration: none;
  color: inherit;
  position: relative;
  transition: color var(--standard-animation);
}

.card-title-portfolio {
  color: var(--navyblue, #2e2f42);
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}
.nav-contact {
  color: var(--slate, #434455);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.nav-contact:hover {
  color: #404bbf;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-footer {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
}
.web-logo {
  display: flex;
  align-items: baseline;
}
.studio-logo {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  width: 71px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}
.nav {
  display: flex;
  align-items: center;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  margin-right: 332px;
}
.nav-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.header-main {
  display: flex;
  width: 496px;
  text-align: center;
  font-size: 56px;
  letter-spacing: 1.12px;
  font-family: inherit;
  justify-content: center;
  width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 188px;
}
.features {
  width: 1128px;
  flex-shrink: 0;
  margin: 120px 156px;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.list {
  display: flex;
  gap: 24px;
  margin: 0;
  padding-left: 0;
}
.front-page {
  width: 100%;
  flex-shrink: 0;
  text-align: center;
}
.footer-background {
  width: auto;
  flex-shrink: 0;
  padding-top: 100px;
}
.card-title {
  display: flex;
  width: 264px;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding: 24px;
  margin: auto;
}
.midle-section {
  margin: 120px 156px;
}
.header-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  padding-bottom: 72px;
}
.person-list {
  display: inline-flex;
  justify-content: center;
  gap: 24px;
  padding-top: 72px;
  padding-bottom: 120px;
}
.items {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
}
.card-image {
  display: inline-flex;
  padding-bottom: 0px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 264px;
  gap: 32px;
  background-color: var(--white, #ffffff);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.card-content {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  gap: 8px;
}

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-header {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  padding-bottom: 72px;
}
.customers-sprites {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.customer-icon {
  fill: var(--light-slate);
  width: 168px;
  height: 88px;
  flex-shrink: 0;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  padding: 16px 32px;
  transition: border-color var(--standard-animation);
  transition: color var(--standard-animation);
}
.customer-icon:hover,
.customer-icon:focus {
  fill: #404bbf;
  border-color: #404bbf;
  transition: var(--standard-animation);
}
.footer-text {
  color: var(--cloud, #f4f4fd);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  width: 264px;
  margin: 0;
  padding-top: 16px;
  padding-bottom: 100px;
}
.footer-socials {
  margin-left: 120px;
}

.footer-social-icons {
  display: flex;
  gap: 16px;
}

.footer-social-icons > li {
  display: flex;
  margin-top: 16px;
  justify-content: center;
  fill: var(--light);
  background: #4d5ae5;
  width: 40px;
  height: 40px;
  gap: 24px;
  border-radius: 50%;
  align-items: center;
  transition: background-color var(--standard-animation);
}

.footer-social-icons > li:hover,
.footer-social-icons > li:focus {
  background-color: var(--success);
  fill: var(--success);
  transition: var(--standard-animation);
}

.social-icon-footer {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: white;
}

.customers-sprites,
.cards-portfolio,
.button-list-portfolio {
  cursor: pointer;
}

.main-header-portfolio {
  display: none;
}
.list-portfolio {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: 24px;
  padding-bottom: 72px;
  padding-top: 96px;
}
.button-list-portfolio {
  display: flex;
  padding: 12px 24px;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  color: var(--iris, #4d5ae5);
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.64px;
  background: var(--cloud, #f4f4fd);
  transition: color var(--standard-animation), background-color var(--standard-animation), border-color var(--standard-animation), box-shadow var(--standard-animation);
}

.button-list-portfolio:hover {
  display: flex;
  padding: 12px 24px;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--cornflower, #e7e9fc);
  color: var(--whitecolor);
  line-height: 1.5;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.64px;
  background: var(--link-active);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.h2a {
  display: none;
}
.images-portfolio {
  margin-top: -120px;
  padding-top: 120px;
  padding-bottom: 120px;
}

.titles {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  padding-bottom: 48px;
}
.titles > li {
  flex-basis: calc((100% - 48px) / 3);
}
.cards-portfolio {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
  transition: box-shadow var(--standard-animation);
}

.cards-portfolio:hover .cards-portfolio:active {
  display: flex;
  flex-wrap: wrap;
  width: 360px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex-shrink: 0;
  box-shadow: var(--portfolio-shadow);
  transform: translateY(0);
}
.project-names {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
  border-top: 0;
  border-left: 1px solid var(--cornflower, #e7e9fc);
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  border-right: 1px solid var(--cornflower, #e7e9fc);
  background: var(--white, #fff);
}
.project-names::after {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}
.project-card {
  display: block;
  transition: box-shadow var(--standard-animation);
}
.figure-portfolio {
  position: relative;
  overflow: hidden;
}
.project-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
  top: 0;
  left: 0;
  background-color: var(--secondarycolor);
  color: var(--light);
  line-height: 1.5;
  letter-spacing: 0.32px;
  transform: translateY(100%);
  transition: transform var(--standard-animation);
}
.figure-portfolio:hover .project-overlay {
  transform: translateY(0);
}
.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  background: var(--dairy, #fcfcfc);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  background-color: var(--dairy);
}
.close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  padding-bottom: 12px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn:hover .close-btn:active {
  fill: #fff;
  border: none;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
